.app {
  display: grid;
  grid-template-areas: 
  "header" 
  "main"
  "footer";

  grid-template-rows: 650px 1fr 280px;
  grid-template-columns: 1fr;
}

@media (min-width: 150px) and (max-width: 1250px) {
  .app {
    display: grid;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
  
    grid-template-rows: 150px 1fr 280px;
    grid-template-columns: 1fr;
  }
}