
.footer {
  grid-area: footer;
  background-color: var(--green-bg-color); 
}

 /* Стили по умолчанию для мобильных устройств */
.footer_container {
  display: grid;
  justify-self: center; 
  align-self: center;
  grid-template-areas: 
  "imglogo  address";

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;

}

/* Медиа запрос для настольных компьютеров и планшетов */
@media (min-width: 1024px) {
  .footer_container {
    display: grid;
    justify-self: center; 
    align-self: center;
    grid-template-areas: 
    "imglogo . . . address address address address address address address address";
  
  
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
  
  }
}